/.idea/
/cgi-bin/
/upload/
/bitrix/*
!/bitrix/php_interface/
!/bitrix/templates/
!/bitrix/components/custom
/bitrix/php_interface/dbconn.php
/bitrix/components/bitrix/

.htaccess
/robots.txt
.bash_history

*.log
*.sql
*.txt
*.xml
*.dt
*.swp
*.swo
*.csv
*.DS_Store
*.tar.*
bx_1c_import.php
test*
log.txt
web.config
*.*~
yandex_*.html
google*.html
sitemap*.xml
restore.php
favicon*
index.htm
license.html
install.config
.htaccess.restore
(1).htaccess
